* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.title h2 {
  font-weight: 300;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
}

.flex-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 40px auto;
}

.flex-container > * {
  padding: 1rem;
}

.image-wrapper {
  width: 300px;
  height: 300px;
  background: url('../assets/ReyS.png') no-repeat center center/cover;
  border-radius: 50%;
}

.description > p {
  padding: 1rem 2rem;
  font-size: 1.5rem;
}

@media (max-width: 720px) {
  .flex-container {
    display: block;
  }

  .flex-container > * {
    margin: 0 auto;
    text-align: center;
  }
}
