{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="{% static 'css/main.css' %}" />
    <link
      href="https://fonts.googleapis.com/css?family=Poppins:300,400&display=swap"
      rel="stylesheet"
    />
    <title>Reynard Adha Ryanda</title>
  </head>
  <body>
    <div class="flex-container container">
      <div class="image-wrapper"></div>

      <div class="title">
        <h1>Reynard Adha Ryanda</h1>
        <h2>Universitas Indonesia</h2>
        <h2>Quanta 2018</h2>
        <h2>1806191175</h2>
      </div>
    </div>

    <div class="container description">
      <p>
        Halo nama saya Reynard Adha Ryanda, dapat dipanggil Reynard atau Rey.
        Saya merupakan Mahasiswa Sistem Informasi di Fakultas Ilmu Komputer
        Universitas Indonesia. Saya pekerja keras tetapi hanya saat
        <em>deadline</em> mendekat. Saya tertarik dengan web development dan
        ingin sekali magang sebagai <em>Front-end Web Developer</em> atau
        <em>Software Engineer</em>
      </p>
      <p>
        Saya hobi mengoding dengan topik web development. Hal ini karena saya
        ingin kerja di google sebagai <em>Software Engineer</em>. Dengan bantuan
        internet dan teman-teman saya, saya akan menjadi web developer yang
        handal dan kompeten untuk masyarakat luas.
      </p>
    </div>
  </body>
</html>
